<% include ./partials/Header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
<div class="cards flex flex-wrap gap-10">
    <% Postdata.forEach(function(elem){%>
    <div class="card w-32">
        <div class="w-full h-40 bg-zinc-200 rounded-lg overflow-hidden">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= elem.postImage%>" alt="pic">
        </div>
        <h5 class="text-sm mt-2"><%= elem.title%> </h5>
        <h5 class="text-xs mt-2">@<%= elem.users.username %> </h5>
    </div>
    <%})%>
</div>
</div>
<% include ./partials/Footor.ejs %>